<div class="offices-admin">
  <h1>Offices <span [routerLink]="['/admin']">[admin]</span></h1>

  @if (loading()) {
  <div>Loading...</div>
  } @else {
  @if (error()) {
  <div class="error">{{ error() }}</div>
  } @else {

  <h2 class="title">Create New Office</h2>
  <div class="create-office">
    <input placeholder="Name" #nameInput [value]="newOffice().name"
      (input)="updateNewOfficeField('name', nameInput.value)">

    <input placeholder="External ID" #externalInput [value]="newOffice().externalId"
      (input)="updateNewOfficeField('externalId', externalInput.value)">

    <input placeholder="Parent ID" #parentInput [value]="newOffice().parentId ?? ''" placeholder="Parent ID"
      (input)="updateNewOfficeField('parentId', parentInput.value ? +parentInput.value : '')">

    <input placeholder="Opening Date" #openingInput type="date" [value]="newOffice().openingDate"
      (input)="updateNewOfficeField('openingDate', openingInput.value)">

    <button (click)="createOffice()">Create Office</button>
  </div>

  <h2 class="title">List Of Offices</h2>
  <table>
    <thead>
      <tr>
        <th>Opening Date</th>
        <th>Name</th>
        <th>External ID</th>
        <th>Parent ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (office of offices(); track office.id) {
      <tr>
        <td>{{ formatDateForApi(office.openingDate || '') }}</td>
        <td><input [value]="office.name" #nameInput (input)="office.name = nameInput.value"></td>
        <td><input [value]="office.externalId" #externalInput (input)="office.externalId = externalInput.value"></td>
        <td>
          <input [value]="office.parentId ?? ''" #parentInput placeholder="Head office"
            (input)="office.parentId = parentInput.value ? +parentInput.value : undefined">
        </td>
        <td>
          <button (click)="updateOffice(office)">Update</button>
          <button (click)="deleteOffice(office.id)">Delete</button>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="5">No offices found</td>
      </tr>
      }
    </tbody>
  </table>

  }
  }
</div>