<div class="offices-admin">
  <h1>Offices <span [routerLink]="['/admin']">[admin]</span></h1>

  @if (loading()) {
  <div>Loading...</div>
  } @else {
  @if (error()) {
  <div class="error">{{ error() }}</div>
  } @else {
  <h2 class="title">Create New Office</h2>
  <app-offices-form [form]="createOfficeForm" [offices]="offices()" (submit)="createOffice()">
  </app-offices-form>

  <h2 class="title">List Of Offices</h2>
  <app-offices-table [offices]="offices()" [officeControls]="officeControls" (update)="updateOffice($event)">
  </app-offices-table>
  }
  }
</div>