.create-role {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 0;

  .name-input {
    width: 400px;
  }

  .desc-input {
    grid-column: 1 / -1;
  }

  button {
    grid-column: 1 / -1;
    justify-self: start;
    margin: 1rem 0 0 0.5rem;
  }
}