<div class="users-table">
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Office</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track user.id) {
        <tr>
          <td><input matInput [formControl]="userControls[user.id].username" /></td>
          <td><input matInput [formControl]="userControls[user.id].firstname" /></td>
          <td><input matInput [formControl]="userControls[user.id].lastname" /></td>
          <td><input matInput [formControl]="userControls[user.id].email" /></td>

          <td>
            <mat-form-field appearance="outline" class="table-field-select">
              <mat-select [formControl]="userControls[user.id].roles" multiple>
                @for (role of roles; track role.id) {
                  <mat-option [value]="role.id">{{ role.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field appearance="outline" class="table-field-select">
              <mat-select [formControl]="userControls[user.id].office">
                @for (office of offices; track office.id) {
                  <mat-option [value]="office.id">{{ office.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </td>

          <td>
            <button (click)="update.emit(user)">Update</button>
            <button (click)="delete.emit(user.id)">Delete</button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="7" class="text-center">No users found</td>
        </tr>
      }
    </tbody>
  </table>
</div>
