.create-office {
  margin: 0 0 4rem 0;

  .name-input {
    width: 300px;
  }

  .office-select {
    width: 300px;
  }

  .date-input {
    width: 300px;
  }

  button {
    margin-left: 2.5rem;
  }
}
