<form [formGroup]="form" (ngSubmit)="submit.emit()" class="create-office">
  <mat-form-field appearance="fill" class="name-input">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="office-select">
    <mat-label>Parent Office</mat-label>
    <mat-select formControlName="parentId">
      @for (office of offices; track office.id) {
        <mat-option [value]="office.id">{{ office.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="date-input">
    <mat-label>Opening Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="openingDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    Create Office
  </button>
</form>
