.roles-admin {
    h1 {
        margin: 0 0 1rem 0.5rem;
    }

    span {
        font-size: 0.8rem;
        cursor: pointer;
        color: #c3eb25;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            padding: 0.25rem 0.5rem;
            border: 1px solid #cccccc86;
        }

        input {
            width: 100%;
            padding: 0.25rem 0.5rem;
            color: white;
            border: none;
            background-color: inherit;
        }

        button {
            padding: 0 0.25rem;
        }

        // column nth-child
        th:nth-child(1),
        td:nth-child(1) {
            width: 100px;
        }

        th:nth-child(2),
        td:nth-child(2) {
            width: 450px;
        }

        th:nth-child(3),
        td:nth-child(3) {
            width: 20px;
        }

        th:nth-child(4),
        td:nth-child(4) {
            width: 100px;
        }
    }

    .create-role {
        margin: 0 0 1rem 0;
        display: flex;
        padding: 0 0.5rem;
        // gap: 0.5rem;

        button {
            padding: 0 1.75rem;
            height: 2.5rem;
            margin: 0 5rem 0 2.5rem;
            align-self: flex-end;
        }

        .name-input {
            flex: 0.2;
        }

        .name-input ::ng-deep .mat-mdc-form-field-subscript-wrapper {
            display: none !important;
        }

        .desc-field {
            flex: 1;
        }

        .desc-field ::ng-deep .mat-mdc-form-field-subscript-wrapper {
            display: none !important;
        }
    }

    .error {
        color: red;
        font-weight: bold;
    }

    .title {
        margin-left: 0.5rem;
    }
}