.offices-admin {
    h1 {
        margin: 0 0 1rem 0.5rem;
    }

    span {
        font-size: 0.8rem;
        cursor: pointer;
        color: #c3eb25;
    }

    .error {
        color: red;
        font-weight: bold;
    }

    .title {
        margin-left: 0.5rem
    }
}